%h1 供应商列表

%table(class="table table-striped")
  %tr
    %th 名称
    %th 简介      
    %th/
    %th/
    %th/
   
  - @providers.each do |provider|
    - next if provider.destroyed?
    %tr
      %td= provider.name
      %td= provider.intro      
      %td= link_to 'Show', provider
      %td= link_to 'Edit', edit_provider_path(provider)
      %td= link_to 'Destory', provider, :confirm => "Are you sure?", :method => :delete                                      
%br/
= link_to 'New Provider', new_provider_path
