%p(id="notice")
  = notice

%p
  %b Name:
  = @provider.name
  
%p 
  %b Intro:
  = @provider.intro
  
%p 
  %b Logo_path:
  = @provider.logo_path
 
= link_to 'Edit', edit_provider_path(@provider) 
|
= link_to 'New', new_provider_path 
|
= link_to 'Back', providers_path

