= form_for @text_activity do |f|
  = f.hidden_field :section_id, :value => params[:section_id]
  .field
    = f.label :name, "名称:"
    %br/
    = f.text_field :name
  .field
    = f.label :provider_id, "供应商"
    %br/
    = f.select :provider_id, Provider.list_all
  .field
    附件:
    - if @text_activity.content_file?
      = "(已上传:#{@text_activity.content_file_file_name})"
    - else
      = "(未上传)"
    %br/
    = f.file_field :content_file
  .actions
    = f.submit "提交"
