<%= form_for(@text_activity) do |f| %>
  <%= hidden_field_tag :section_id, params[:section_id] %>
  <% if @text_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@text_activity.errors.count, "error") %> prohibited this text_activity from being saved:</h2>

      <ul>
      <% @text_activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :activity_id %><br />
    <%= f.number_field :activity_id %>
  </div>
  <div class="field">
    <%= f.label :provider_id %><br />
    <%= f.number_field :provider_id %>
  </div>
  <div class="field">
    <%= f.label :file_path %><br />
    <%= f.text_field :file_path %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
