<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @text_activity.name %>
</p>

<p>
  <b>Activity:</b>
  <%= @text_activity.activity_id %>
</p>

<p>
  <b>Provider:</b>
  <%= @text_activity.provider_id %>
</p>

<p>
  <b>File path:</b>
  <%= @text_activity.file_path %>
</p>

<p>
  <b>Description:</b>
  <%= @text_activity.description %>
</p>


<%= link_to 'Edit', edit_text_activity_path(@text_activity) %> |
<%= link_to 'Back', text_activities_path %>
