<h1>Editing video_collection</h1>

<%= render 'form' %>

<table border="1" cellspacing="0" cellpadding="3" style = "text-align: center;">
	<tr>
		<th>标题</th>		
		<th>简介</th>
		<th>上传文件</th>
		<th></th>
		<th></th>
	</tr>
	<% @video_collection.videos.each do |video|%>
		<% unless video.destroyed? %>
		<tr>
			<td><%= video.title%></td>
			<td><%= video.intro%></td>
			<td><%= video.video_file_file_name if video.video_file?%></td>
			<th><%= link_to "编辑", edit_video_path(video)%></th>		
			<th><%= link_to "删除", video, confirm: 'Are you sure?', method: :delete%></th>	
		</tr>
		<% end %>
	<%end %>
</table>

<h1>New Video</h1>
<% @video = Video.new %>
<%= render :partial => 'videos/form', :locals => {:video_collection_id => @video_collection.id}%>

<%= link_to 'Show', @video_collection %> |
<%= link_to 'Back', video_collections_path %>
