<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @video_collection.title %>
</p>

<p>
  <b>Intro:</b>
  <%= @video_collection.intro %>
</p>


<%= link_to 'Edit', edit_video_collection_path(@video_collection) %> |
<%= link_to 'Back', video_collections_path %>
