<div id="newQuizActivityForm" style="display:none">
  <% @quiz_activity = QuizActivity.new %>
  <%= form_for @quiz_activity, :url => {:controller => :quiz_activities, :action => :create, :section_id => section_id } do |f| %>

    <% if @quiz_activity.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@quiz_activity.errors.count, "error") %> prohibited this quiz_activity from being saved:</h2>
  
        <ul>
        <% @quiz_activity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, "环节名称" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :provider_id, "提供方" %><br />
      <%= f.select :provider_id, Provider.provider_list %>
    </div> 
    <div class="field" style="display: none">
      <%= f.label :order %><br />
      <%= f.text_field :order, :value => activity_size %>
    </div> 
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
