<p id="notice"><%= notice %></p>

<p>
  <b>习题环节名称:</b>
  <%= best_in_place @quiz_activity, :name, :type => :input %>
</p>

<p>
  <b>所属小节:</b>
  <%= link_to @section.name, section_path(@section) %>
</p>

<p>
  <b>提供方:</b>
  <%= best_in_place @quiz_activity, :provider_id, :type => :select, :collection => Provider.list_all_in_place %>
</p>

<p>
  <b>习题数量:</b>
  <%= @quiz_activity.size %>
</p>

<%= link_to '返回小节', section_path(@section) %>

<br/>
<br/>
<br/>

<h2>所有习题列表</h2>
<% @quiz_activity.problems.each do |p| %>
  <tr>
    <td><%= p.print_type %></td>
    <td><%= p.body %></td>
    <td><%= link_to '进入', c, :quiz_activity_id => @quiz_activity.id %></td>
    <td><%= link_to '删除', c, confirm: '确定要删除此习题吗？', method: :delete %></td>
  </tr>
<% end %>


<%= form_for(@problem) do |f| %>
  <p>选择习题类型</p>
  <div class="field">
    <%= f.radio_button :tipe, 'mc' %> <%= f.label :tipe, "单选题", :value => "mc" %>
    <%= f.radio_button :tipe, 'fb' %> <%= f.label :tipe, "填空题", :value => "fb" %>
    <%= f.radio_button :tipe, 'mamc' %> <%= f.label :tipe, "多选题", :value => "mamc" %>
  </div>
  <div class="actions">
    <%= f.submit "添加习题" %>
  </div>
<% end %>
