<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>
    <%= best_in_place @quiz_activity, :name, :type => :input %>
    <span class="label"><%= Activity.type_to_name('quiz') %></span>
  </h1>
</div>

<div class="row">
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>所属小节</dt>
      <dd><%= link_to @section.name, section_path(@section) %></dd>
      <dt>提供方</dt>
      <dd><%= best_in_place @quiz_activity, :provider_id, :type => :select, :collection => Provider.list_all_in_place %></dd>
      <dt>习题数量</dt>
      <dd><span class="badge"><%= @quiz_activity.problems.size %></span></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="span2">
    <%= link_to_back '返回小节', section_path(@section) %>
  </div>
</div>

<br/>
<br/>

<div class="row">
  <h3 class="span2">习题列表</h3>
</div>

<table class="table table-striped">
  <tr>
    <th class="span1"><abbr title="单击后输入数字以改变顺序，刷新后重新排序" class="initialism">顺序</abbr></th>
    <th class="span1">类型</th>
    <th class="span8">内容</th>
    <th class="span1"></th>
    <th class="span1"></th>
  </tr>

<% @quiz_activity.problems.each do |p| %>
  <tr>
    <td><%= best_in_place @quiz_activity.get_quiz_component(p), :seq, :type => :input %></td>
    <td><span class="label label-inverse"><%= p.print_type %></span></td>
    <td><%= p.body %></td>
    <td><%= link_to_check "查看", problem_path(p, :quiz_activity_id => @quiz_activity.id, :section_id => @section.id) %></td>
    <td><%= link_to_delete "删除", remove_problem_quiz_activity_path(@quiz_activity, :problem_id => p.id, :quiz_activity_id => @quiz_activity.id, :section_id => @section.id), confirm: '确定要删除此习题吗？', method: :post %></td>
  </tr>
<% end %>
</table>

  <%= form_for @problem, :html => {:class => "well form-inline"} do |f| %>
        <%=f.label :tipe, "选择习题类型" %>
        <div class="btn-group" data-toggle-name="tipe" data-toggle="buttons-radio">
          <% Problem::TYPE_TO_NAME.each do |t| %>
            <button type="button" value=<%= t.first %> class="btn" data-toggle="button"><%= t.second %></button>
          <% end %>
        </div>
        <input type="hidden" name="tipe" value="0" />
        <span style="display: none"><%= text_field_tag :quiz_activity_id, @quiz_activity.id %></span>
        <span style="display: none"><%= text_field_tag :section_id, @section.id %></span>
        <br/>
        <%= f.submit "添加习题", :class => "btn btn-success" %>
  <% end %>

  
<script type="text/javascript">
  $('div.btn-group[data-toggle-name=*]').each(function(){
    var group   = $(this);
    var form    = group.parents('form').eq(0);
    var name    = group.attr('data-toggle-name');
    var hidden  = $('input[name="' + name + '"]', form);
    $('button', group).each(function(){
      var button = $(this);
      button.live('click', function(){
          hidden.val($(this).val());
      });
      if(button.val() == hidden.val()) {
        button.addClass('active');
      }
    });
  });
</script>
