.page-header
  %h1
    = @classroom.class_name
    %span.label= Classroom.zh_name
.row
  .span6
    %dl.dl-horizontal
      %dt 系统编号
      %dd= @classroom.id
      %dt 所属学校
      %dd= link_to @classroom.school.name, @classroom.school
      %dt 年级
      %dd= @classroom.grade_name
      %dt 班级
      %dd= @classroom.order_name
      %dt 学生人数
      %dd= @classroom.students.count
%br/
%br/
%br/
%h3 
  学生列表
  = link_to_add '添加学生', new_user_path(:classroom_id => @classroom.id, :user_type => "student")
%br/
%table.table.table-striped
  %tr
    %th.span1 姓名
    %th.span1 生日
    %th.span2 正在使用的晓书
    %th.span2
  - @classroom.users.each do |u|
    %tr
      %td= link_to u.name, u
      %td= u.birthday
      %td 
        - if u.current_machine.nil?
          无
        - else
          = link_to u.current_machine.unique_id, u.current_machine
      %td= link_to_delete '删除', u, confirm: '确定要删除此学生吗？', method: :delete
      

