.page-header
  %h1
    = @admin.name
    的个人信息
    %span.label= Admin.zh_name
.row
  .span6
    %dl.dl-horizontal
      %dt 用户名
      %dd= @admin.username
      %dt 姓名
      %dd= @admin.name
      %dt 所属学校
      %dd= @admin.school.name
      
= link_to_check '修改信息', edit_admin_path(@admin)
= link_to_edit '修改密码', :action => :change_password, :id => @admin
