<h1>Listing gallery_activities</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Activity</th>
    <th>Provider</th>
    <th>File path</th>
    <th>Description</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gallery_activities.each do |gallery_activity| %>
  <tr>
    <td><%= gallery_activity.name %></td>
    <td><%= gallery_activity.activity_id %></td>
    <td><%= gallery_activity.provider_id %></td>
    <td><%= gallery_activity.file_path %></td>
    <td><%= gallery_activity.description %></td>
    <td><%= gallery_activity.notes %></td>
    <td><%= link_to 'Show', gallery_activity %></td>
    <td><%= link_to 'Edit', edit_gallery_activity_path(gallery_activity) %></td>
    <td><%= link_to 'Destroy', gallery_activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gallery activity', new_gallery_activity_path %>
