<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "章节名称" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field" style="display: none">
    <%= f.text_field :chapter_id, :value => params[:chapter_id] %>
  </div>
  <div class="field", "概述">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit :value => "创建" %>
  </div>
<% end %>
