<p id="notice"><%= notice %></p>

<%= form_for @problem do |f| %>
  <div class="field">
    <%= f.label :tipe, "题目类型：" %>
    <span><%= @problem.print_type %></span>
  </div>
  <div class="field">
    <%= f.label :body, "题干：" %>
    <%= f.text_area :body, :value => "\`c/d\`", :id => "problem_body_input" %>
  </div>
  
  <div class="preview" >
    <p id="problem_body_preview"></p>
    <p>`a/b`</p>
  </div>
  
  
  <% if @problem.is_mc %>
    <div class="title">
      <span>所有选项</span>
    </div>
  
    <% @problem.problem_choices.each do |pc| %>
      <%= f.fields_for :pc do |pcf| %>
        <div class="field">
          <%= pcf.label :choice, "序号：" %>
          <%= pcf.text_field :choice %>
        </div>
        <div class="field">
          <%= pcf.label :body, "选项：" %>
          <%= pcf.text_field :body %>
        </div>
      <% end %>
    <% end %>
  <% end %>

<% end %>


<%= mathjax_tag :config => 'AM_HTMLorMML-full.js' %>

<script type="text/javascript">
  $("#problem_body_input").on("keyup", function() {
    var formulaInput = $(this).val();
    $('#problem_body_preview').text(formulaInput);
  });
</script>

