<h1>作者列表</h1>

<table border="1" cellspacing="0" cellpadding="3"> 
  <tr>
    <th>姓名</th>
    <th>国籍</th>
    <th>简介</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= author.nationality%></td>
    <td><%= author.intro %></td>
    <td><%= link_to 'Show', author %></td>
    <td><%= link_to 'Edit', edit_author_path(author) %></td>
    <td><%= link_to 'Destroy', author, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Author', new_author_path %>
