<p id="notice"><%= notice %></p>

<p>
  <b>姓名：</b>
  <%= @author.name %>
</p>

<p>
	<b>国籍：</b>
	<%= @author.nationality%>
</p>

<p>
  <b>简介：</b>
  <%= @author.intro %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
