<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <div class="control-group">
      <%= f.label :user_type, "", :class => "control-label" %> 
      <div class="controls">
        <%= f.select :class_of, Classroom.all_grades, :class => "input-xlarge"%>
      </div>
    </div>
    
    
    <div class="control-group">
      <%= f.label :school_id, "学校", :class => "control-label" %> 
      <div class="controls">
        <% if current_admin.is_global %>
          <%= f.select :school_id, School.list_all, :selected => @school.id, :html => {:class => "input-xlarge"} %>
        <% else %>
          <%= f.select :school_id, [[current_admin.school.name, current_admin.school.id]], :class => "input-xlarge"%>
        <% end %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :class_of, "年级", :class => "control-label" %> 
      <div class="controls">
        <%= f.select :class_of, Classroom.all_grades, :class => "input-xlarge"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :class_order, "班级", :class => "control-label" %> 
      <div class="controls">
        <%= f.select :class_order, Classroom.all_orders, :class => "input-xlarge"%>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "创建", :class => "btn btn-primary" %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
