.page-header
  %h1
    创建新#{@user.print_type}用户
= form_for @user, :html => {:class => "form-horizontal"} do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    = f.hidden_field :user_type
    - if @user.user_type == "student"
      = f.hidden_field :classroom_id
    - elsif @user.user_type == "teacher"
      = f.hidden_field :school_id
    .control-group
      = f.label :name, "姓名", :class => "control-label"
      .controls
        = f.text_field :name, :class => "input-xlarge"
    .control-group
      = f.label :birthday, "生日", :class => "control-label"
      .controls
        = text_field_tag :year, "", :class => "input-small", :placeholder => "年份(YYYY)"
        = text_field_tag :month, "", :class => "input-mini", :placeholder => "月(MM)"
        = text_field_tag :day, "", :class => "input-mini", :placeholder => "日(DD)"
        %span.help-inline 如果只知道月份不知道是哪天，请统一使用1号
    .form-actions
      = f.submit "创建", :class => "btn btn-primary"
      - if @user.user_type == "student"
        = link_to "取消", classroom_path(params[:classroom_id]), :class => "btn"
      - else 
        = link_to "取消", school_path(params[:school_id]), :class => "btn"