.page-header
  %h1
    = @user.name
    %span.label= User.zh_name
.row
  .span6
    %dl.dl-horizontal
      %dt 学校
      %dd= link_to @user.school.name, @user.school
      - if @user.is_student
        %dt 班级
        %dd= link_to @user.classroom.class_name, @user.classroom
      %dt 生日
      %dd= @user.birthday
      %dt 类型
      %dd= @user.print_type
  = link_to_edit "修改信息", edit_user_path(@user)

%br/
%h3 正在使用的晓书
.row
  .span6
    - if @machine.nil?
      %div 目前没有使用任何晓书
    - else
      %dl.dl-horizontal
        %dt ID
        %dd= link_to @machine.unique_id, @machine
        %dt 类型
        %dd= @machine.machine_type.name
        %dt
        %dd= link_to_machine_sign_out @machine, @user
%br/
%h3 晓书历史登录记录
%table.table.table-striped
  %tr
    %th.span3 登录时间
    %th.span5 晓书ID
    %th.span4 登出时间
  - @user.machine_signins.each do |ms|
    %tr
      %td= ms.created_at.to_formatted_s(:zh_long) if ms.created_at
      %td= ms.machine.unique_id
      %td= ms.signed_out_at.to_formatted_s(:zh_long) if ms.signed_out_at
