<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @video_activity.name %>
</p>

<p>
  <b>Activity:</b>
  <%= @video_activity.activity_id %>
</p>

<p>
  <b>Provider:</b>
  <%= @video_activity.provider_id %>
</p>

<p>
  <b>File path:</b>
  <%= @video_activity.file_path %>
</p>

<p>
  <b>Notes:</b>
  <%= @video_activity.notes %>
</p>

<p>
  <b>Duration:</b>
  <%= @video_activity.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @video_activity.description %>
</p>


<%= link_to 'Edit', edit_video_activity_path(@video_activity) %> |
<%= link_to 'Back', video_activities_path %>
