<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :intro %><br />
    <%= f.text_field :intro %>
  </div>
  <div class="field">    
    <% if defined? video_collection_id %> 
    	<%= f.hidden_field :video_collection_id, :value => video_collection_id %>
	<% else %>
		<%= f.label :video_collection_id %><br />
    	<%= f.number_field :video_collection_id%>
	<% end%>
  </div>
  <div class="field">
  	<%= f.label :video_file%>
  	<%= "已上传(#{@video.video_file_file_name})" if @video.video_file?%>
  	<br/>
  	<%= f.file_field :video_file%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
