%p#notice= notice
%p
  %b Title:
  = @video.title
%p
  %b Intro:
  = @video.intro
%p
  %b Video collection:
  = @video.video_collection
= link_to 'Edit', edit_video_path(@video)
|
\#{link_to 'Back', videos_path}
