<h1>Listing audio_activities</h1>

<table class="table talbe-striped">
  <tr>
    <th>Name</th>
    <th>Activity</th>
    <th>Provider</th>
    <th>File path</th>
    <th>Notes</th>
    <th>Duration</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @audio_activities.each do |audio_activity| %>
  <tr>
    <td><%= audio_activity.name %></td>
    <td><%= audio_activity.activity_id %></td>
    <td><%= audio_activity.provider_id %></td>
    <td><%= audio_activity.file_path %></td>
    <td><%= audio_activity.notes %></td>
    <td><%= audio_activity.duration %></td>
    <td><%= audio_activity.description %></td>
    <td><%= link_to 'Show', audio_activity %></td>
    <td><%= link_to 'Edit', edit_audio_activity_path(audio_activity) %></td>
    <td><%= link_to 'Destroy', audio_activity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Audio activity', new_audio_activity_path %>
