= javascript_include_tag params[:controller]
.row
  .span2
    %h3 #{Activity.zh_name}列表
%table.table.table-striped
  %tr
    %th.span1
      %abbr.initialism{:title => "单击后输入数字以改变顺序，刷新后重新排序"} 顺序
    %th.span1 类型
    %th.span6 名称
    %th.span2
    %th.span2
  - @activities.each do |a|
    %tr
      - next if a.destroyed?
      %td= best_in_place @section.get_section_component(a), :seq, :type => :input
      %td
        %span.label= a.type_name
      %td= a.name
      - prefix = (a.tipe == "quiz") ? "" : "edit_"
      %td= link_to_check '查看', self.send("#{prefix}#{a.tipe}_activity_path", a, :section_id => @section.id)
      %td= link_to_delete '删除', a, confirm: "确定要删除这个#{Activity.zh_name}吗？", method: :delete
.btn-group
  %button.btn.btn-success 添加环节
  %button.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown"}
    %span.caret
  %ul.dropdown-menu
    - Activity::TYPE_TO_NAME.each do |t|
      %a{:onclick => "insertNewActivityForm('#{t.first}')"}= t.second
