<%= javascript_include_tag params[:controller] %>

<div class="row">
  <div class="span2">
    <h3>环节列表</h3>
  </div>
</div>
  
<table class="table table-striped">
	<tr>
		<th class="span1"><abbr title="单击后输入数字以改变顺序，刷新后重新排序" class="initialism">顺序</abbr></th>
		<th class="span1">类型</th>
		<th class="span8">名称</th>
		<th class="span1"></th>
		<th class="span1"></th>
	</tr>

	<% @activities.each do |a| %>
	<tr>
		<% next if a.destroyed?%>
		<td><%= best_in_place @section.get_section_component(a), :order, :type => :input %></td>
		<td><span class="label"><%= a.type_name%></span></td>
		<td><%= a.name %></td>
		<% prefix = (a.tipe == "quiz") ? "" : "edit_" %>
    <td><%= link_to_check '查看', self.send("#{prefix}#{a.tipe}_activity_path", a, :section_id => @section.id) %></td>			
		<td><%= link_to_delete '删除', a, confirm: '确定要删除这个环节吗？', method: :delete %></td>
	</tr>
	<% end %>
</table>

<div class="btn-group">
  <button class="btn btn-success">添加环节</button>
  <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <% Activity::TYPE_TO_NAME.each do |t| %>
      <a onclick="insertNewActivityForm('<%=t.first%>')"><%=t.second %></a>
    <% end %>
  </ul>
</div>

