= render :partial => "shared/breadcrumb_curriculum", :locals => { :item => @section }

.page-header
  %h1
    = @section.name
    %span.label= Section.zh_name
%dl.dl-horizontal
  %dt 所属章节
  %dd= @lesson.name
  %dt 重点笔记
  %dd= @section.description

.well  
  = link_to_edit '修改信息', edit_section_path(@section)
  = link_to_back '返回章节', lesson_path(@lesson)

%br/
%br/
%br/
= render 'list_activity_table'
%br/
#newActivityForm
%br/
%br/
%br/
= render 'edge_edit'
:javascript
  function insertNewActivityForm(type) {
    $("#newActivityForm").hide();
    $("#newActivityForm").load("../activities/add_form", {type: type, section_id:  #{@section.id} });
    $("#newActivityForm").show();
  };
