<p id="notice">
	<%= notice %>
</p>
<h1><%= best_in_place @section, :name, :type => :input %></h1>

<% if @lesson%>
	<p>
		<b>所属章节:</b>
		<%= link_to @lesson.name, lesson_path(@lesson) %>
	</p>
<% end%>

<p>
	<b>章节重点笔记:</b>
	<%= best_in_place @section, :description, :type => :textarea %>
</p>

<script>
function switchView(type) {
	document.getElementById("newQuizActivityForm").style.display = "none"
	document.getElementById("newVideoActivityForm").style.display = "none"
	document.getElementById("newGalleryActivityForm").style.display = "none"
	document.getElementById("newTextActivityForm").style.display = "none"
	document.getElementById("newAudioActivityForm").style.display = "none"
	document.getElementById("newHtmlActivityForm").style.display = "none"
	if (type == 1)
		document.getElementById("newTextActivityForm").style.display = "block"
	else if (type == 2)
		document.getElementById("newQuizActivityForm").style.display = "block"
	else if (type == 3)
		document.getElementById("newVideoActivityForm").style.display = "block"
	else if (type == 4)
		document.getElementById("newGalleryActivityForm").style.display = "block"
	else if (type == 5)
		document.getElementById("newAudioActivityForm").style.display = "block"
	else if (type == 6)
		document.getElementById("newHtmlActivityForm").style.display = "block"

}

function showNewActivityForm() {
	document.getElementById("newActivityForm").style.display = "block"

}
</script> 

<%= render 'list_activity_table'%>

<%= render :partial => "video_activities/form", :locals => {:section_id => @section.id, :activity_size => @activities.size}%>

<div id="newTextActivityForm" style="display:none">
	<% @text_activity = TextActivity.new %>
	<%= form_for @text_activity, :url => {:controller => :text_activities, :action => :create, :section_id => @section.id, :order => @activities.size } do |f| %>
	<% if @text_activity.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@text_activity.errors.count, "error") %> prohibited this text_activity from being saved:</h2>

		<ul>
			<% @text_activity.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<p>
			名称:
		</p>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<p>
			排序:
		</p>
		<%= f.number_field :order%>
	</div>
	<div class="field">
		<p>
			提供方:
		</p>
		<%= f.number_field :provider_id %>
	</div>
	<div class="field">
		附件:
		<%if @text_activity.txt_file? %>
		<%= "(已上传:#{@text_activity.txt_file_file_name})"%>
		<%else%>
		<%= "(未上传)"%>
		<%end%>
		<br />
		<%= f.file_field :txt_file %>
	</div>
	<div class="field">
		<p>
			描述:
		</p>
		<%= f.text_area :description %>
	</div>
	<div class="actions">
		<%= f.submit "提交"%>
	</div>
	<% end %>
</div>

<div id="newGalleryActivityForm" style="display:none">
	<% @gallery_activity = GalleryActivity.new %>
	<%= form_for @gallery_activity, :url => {:controller => :gallery_activities, :action => :create, :section_id => @section.id, :order => @activities.size } do |f| %>
	<% if @gallery_activity.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@gallery_activity.errors.count, "error") %> prohibited this gallery_activity from being saved:</h2>

		<ul>
			<% @gallery_activity.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<p>
			名称:
		</p>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<p>
			排序:
		</p>
		<%= f.number_field :order%>
	</div>
	<div class="field">
		<p>
			提供方:
		</p>
		<%= f.number_field :provider_id %>
	</div>
	<div class="field">
		图片集附件:
		<%if @gallery_activity.img_files? %>
		<%= "(已上传:#{@gallery_activity.img_files_file_name})"%>
		<%else%>
		<%= "(未上传)"%>
		<%end%>
		<br />
		<%= f.file_field :img_files %>
	</div>
	<div class="field">
		<p>
			描述:
		</p>
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<p>
			重点笔记:
		</p>
		<%= f.text_area :notes %>
	</div>
	<div class="actions">
		<%= f.submit "提交"%>
	</div>
	<% end %>
</div>

<%= render :partial => "quiz_activities/form", :locals => {:section_id => @section.id, :activity_size => @activities.size} %>

<div id="newAudioActivityForm" style="display:none">
	<% @audio_activity = AudioActivity.new %>
	<%= form_for @audio_activity, :url => {:controller => :audio_activities, :action => :create, :section_id => @section.id, :order => @activities.size } do |f| %>
	<% if @audio_activity.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@audio_activity.errors.count, "error") %> prohibited this audio_activity from being saved:</h2>

		<ul>
			<% @audio_activity.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<p>
			名称:
		</p>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<p>
			排序:
		</p>
		<%= f.number_field :order%>
	</div>
	<div class="field">
		<p>
			提供方:
		</p>
		<%= f.number_field :provider_id %>
	</div>
	<div class="field">
		音频附件:
		<%if @audio_activity.aud_file? %>
		<%= "(已上传:#{@audio_activity.aud_file_file_name})"%>
		<%else%>
		<%= "(未上传)"%>
		<%end%>
		<br />
		<%= f.file_field :aud_file %>
	</div>
	<div class="field">
		<p>
			注解笔记:
		</p>
		<%= f.text_area :notes %>
	</div>
	<div class="field">
		<p>
			时长:（秒）
		</p>
		<%= f.number_field :duration %>
	</div>
	<div class="field">
		<p>
			描述:
		</p>
		<%= f.text_area :description %>
	</div>
	<div class="actions">
		<%= f.submit "提交"%>
	</div>
	<% end %>
</div>

<div id="newHtmlActivityForm" style="display:none">
	<% @html_activity = HtmlActivity.new %>
	<%= form_for @html_activity, :url => {:controller => :html_activities, :action => :create, :section_id => @section.id, :order => @activities.size } do |f| %>
	<% if @html_activity.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@html_activity.errors.count, "error") %> prohibited this html_activity from being saved:</h2>

		<ul>
			<% @html_activity.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<p>
			名称:
		</p>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<p>
			排序:
		</p>
		<%= f.number_field :order%>
	</div>
	<div class="field">
		<p>
			提供方:
		</p>
		<%= f.number_field :provider_id %>
	</div>
	<div class="field">
		附件:
		<%if @html_activity.html_file? %>
		<%= "(已上传:#{@html_activity.html_file_file_name})"%>
		<%else%>
		<%= "(未上传)"%>
		<%end%>
		<br />
		<%= f.file_field :html_file %>
	</div>
	<div class="field">
		<p>
			描述:
		</p>
		<%= f.text_area :description %>
	</div>
	<div class="actions">
		<%= f.submit "提交"%>
	</div>
	<% end %>
</div>

<%= render 'edge_edit'%>

<%= link_to '继续添加小节', new_section_path(:lesson_id => @section.lesson_id)%> |
<%= link_to '返回上一层', lesson_path(@section.lesson_id)%>
