<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <% bcollection = [] %>
  <% BookCollection.all.each do |bc| %>
  <%	bcollection<<[bc.title, bc.id] %>
  <% end %>
  	
  <div class="field">
    <%= f.label :title %> (*) <br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %> (*)<br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :intro %><br />
    <%= f.text_area :intro %>
  </div>
  <div class="field">
    <%= f.label :ISBN %><br />
    <%= f.text_field :ISBN %>
  </div>
  <div class="field">
    <%= f.label :file_path %><br />
    <%= f.text_field :file_path %>
  </div>
  <div class="field">
    <%= f.label :book_collection_id %><br />
    <%= f.select :book_collection_id, bcollection%>
  </div>
  <div class="field">
    <%= f.label :publication_year %><br />
    <%= f.number_field :publication_year %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :cover_m_path %><br />
    <%= f.text_field :cover_m_path %>
  </div>
  <div class="field">
    <%= f.label :cover_s_path %><br />
    <%= f.text_field :cover_s_path %>
  </div>
  <div class="field">
    <%= f.label :provider_id %><br />
    <%= f.number_field :provider_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
