.page-header
  %h1
    所有图书

- @book = Book.new
.well
  = render 'urlform'
  = link_to '手动创建图书', new_book_path, :class => "btn btn-success"

%table.table.table-striped
  %tr
    %th.span2 书名
    %th.span1 作者
    %th.span2 所属合集
    %th.span1 已上传？
    %th.span2 最近修改时间
    %th.span2
    %th.span2
  - @books.each do |book|
    - next if book.destroyed?
    %tr
      %td= book.title
      %td= book.author
      %td= book.book_collection
      - unless book.epub_file?
        %td{:style => "background:#FA5858"}= book.epub_file?
      - else
        %td= book.epub_file?
      %td= book.updated_at
      %td= link_to_check '查看', book
      %td= link_to_delete '删除', book, confirm: '确定要删除吗？', method: :delete

= will_paginate @books, :previous_label => "上一页", :next_label => "下一页"
%br/
