%h1 书籍列表
%p#notice= notice
- @book = Book.new
.well
  = render 'urlform'
  = link_to '手动创建图书', new_book_path, :class => "btn btn-success"
%table.table.table-striped
  %tr
    %th 题目
    %th 作者
    %th 合集
    %th 已上传？
    %th Updated At
    %th
    %th
    %th
  - @books.each do |book|
    - next if book.destroyed?
    %tr
      %td= book.title
      %td= book.author
      %td= book.book_collection
      - unless book.epub_file?
        %td{:style => "background:#FA5858"}= book.epub_file?
      - else
        %td= book.epub_file?
      %td= book.updated_at
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, confirm: 'Are you sure?', method: :delete
%br/
