<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Intro:</b>
  <%= @book.intro %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.ISBN %>
</p>

<p>
  <b>File path:</b>
  <%= @book.file_path %>
</p>

<p>
  <b>Book collection:</b>
  <%= @book.book_collection_id %>
</p>

<p>
  <b>Publication year:</b>
  <%= @book.publication_year %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Cover m path:</b>
  <%= @book.cover_m_path %>
</p>

<p>
  <b>Cover s path:</b>
  <%= @book.cover_s_path %>
</p>

<p>
  <b>Provider:</b>
  <%= @book.provider_id %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
