<p id="notice"><%= notice %></p>

<p>
  <b>书名:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Intro:</b>
  <%= @book.intro %>
</p>

<p>
	<b>Difficulty:</b>
	<%= @book.difficulty%>
</p>
<p>
  <b>Isbn:</b>
  <%= @book.ISBN %>
</p>

<p>
  <b>File:</b>
  <%= (link_to "#{@book.epub_file_file_name}", @book.epub_file.url(:original, false)) if @book.epub_file? %>
</p>

<p>
  <b>Book collection:</b>
  <%= @book.book_collection %>
</p>

<p>
  <b>Publication year:</b>
  <%= @book.publication_year %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Cover m path:</b>
  <%= (link_to "#{@book.cover_m_file_name}", @book.cover_m.url(:original, false)) if @book.cover_m? %>    
</p>

<p>
  <b>Cover s path:</b>
  <%= (link_to "#{@book.cover_s_file_name}", @book.cover_s.url(:original, false)) if @book.cover_s? %>    
</p>

<p>
  <b>Provider:</b>
  <%= @book.provider %>
</p>

<p>
	<b>Tag:</b>
	<%= @book.tags.map{|tag| tag.name}.inspect%>
</p>
<br/>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
