<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @edge.from_id %>
</p>

<p>
  <b>To:</b>
  <%= @edge.to_id %>
</p>

<p>
  <b>Section:</b>
  <%= @edge.section_id %>
</p>

<p>
  <b>Condition:</b>
  <%= @edge.condition %>
</p>


<%= link_to 'Edit', edit_edge_path(@edge) %> |
<%= link_to 'Back', edges_path %>
