.page-header
  %h1 管理员登录
= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"} do |f|
  = devise_error_messages!
  %fieldset
    .control-group
      = f.label :school_id, "学校", :class => "control-label"
      .controls
        = f.select :school_id, School.list_all, :class => "input-xlarge"
    .control-group
      = f.label :username, "用户名", :class => "control-label"
      .controls
        = f.text_field :username, :class => "input-xlarge"
    .control-group
      = f.label :password, "登录密码", :class => "control-label"
      .controls
        = f.password_field :password, :class => "input-xlarge"
    - if devise_mapping.rememberable?
      .control-group
        .controls
          %label.checkbox
            = f.check_box :remember_me
            记住我
          = f.submit "登录", :class => "btn btn-primary"
