%h1 标签列表
%table.table.table-striped
  %tr
    %th 名字
    %th 类型
    %th
    %th
  - @tags.each do |tag|
    - next if tag.destroyed?
    %tr
      %td= tag.name
      %td= tag.tag_type
      /
        <td><haml:loud> link_to 'Show', tag </haml:loud></td>
      %td= link_to 'Edit', edit_tag_path(tag)
      %td= link_to 'Destroy', tag, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Tag', new_tag_path
%br/
**相同类型的标签会被分为一组，请注意拼写
