<h1>所有科目</h1>

<br/>
<%= link_to '创建科目', new_subject_path %>
<br/>
<br/>

<table class="table table-striped">
  <tr>
    <th>名称</th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= best_in_place subject, :name, :type => :input %></td>
    <td><%= link_to '进入', subject %></td>
    <td><%= link_to "总览", :controller => "subjects", :action => "overview", :id => subject%>    
    <td><%= link_to '删除', subject, confirm: '确定删除此科目吗？', method: :delete %></td>
  </tr>
<% end %>
</table>
