<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>
            科目总揽
    <small>所有科目</small>  
  </h1>
</div>


<table class="table table-striped">
  <tr>
    <th class="span2">名称</th>
    <th class="span6"></th>
    <th class="span2"></th>
    <th class="span2"></th>
  </tr>

<% @subjects.each do |subject| %>
  <% next if subject.destroyed? %>
  <tr>
    <td><%= best_in_place subject, :name, :type => :input %></td>
    <td><%= link_to_check "总体结构", :controller => "subjects", :action => "overview", :id => subject%>  
    <td><%= link_to_check '查看', subject %></td>
    <td><%= link_to_delete '删除', subject, confirm: '确定删除此科目吗？', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to_add '创建科目', new_subject_path %>
