= render :partial => "shared/breadcrumb_curriculum", :locals => { :item => @lesson }
.page-header
  %h1
    = @lesson.name
    %span.label= Lesson.zh_name
.row
  .span6
    %dl.dl-horizontal
      %dt 所属单元
      %dd= link_to @lesson.chapter.name, chapter_path(@lesson.chapter)
      %dt 章节概述
      %dd= @lesson.description
    = link_to_edit '修改信息', edit_lesson_path(@lesson)
    = link_to_back '返回单元', chapter_path(@lesson.chapter)
    
%br/
%br/
%br/
%h3 小节列表
%table.table.table-striped
  %tr
    %th.span3 名称
    %th.span9 重点笔记
  - @lesson.sections.each do |s|
    %tr
      %td= link_to s.name, s
      %td= s.description
      
= link_to_add '创建小节', new_section_path(:lesson_id => @lesson.id)
