= form_for(@apk, :html => {:class => "form-horizontal"}) do |f|
  %fieldset
    - if @apk.errors.any?
      #error_explanation
        %h2
          = pluralize(@apk.errors.count, "error")
          prohibited this apk from being saved:
        %ul
          - @apk.errors.full_messages.each do |msg|
            %li= msg
    .control-group
      = f.label :file, ".apk文件", :class => "control-label"
      .controls
        = f.file_field :file
    .control-group
      = f.label :description, "名称", :class => "control-label"
      .controls
        = f.text_field :description
    .control-group
      = f.label :status, "状态", :class => "control-label"
      .controls
        = f.select :status, Apk.list_all_status
    .form-actions
      = f.submit "添加软件", :class => "btn btn-success"
