.page-header
  %h1
    = @apk.description
    %span.label= Apk.zh_name

.row
  .span6
    %dl.dl-horizontal
      %dt 文件名
      %dd= @apk.name
      %dt 版本号
      %dd= @apk.version_name
      %dt 更新序号
      %dd= @apk.version
      %dt 状态
      %dd= @apk.print_status
      %dt 权限
      %dd= allow_list.inspect


= link_to_edit '修改信息', edit_apk_path(@apk)
= link_to_back '返回', apks_path
