<div id="newHtmlActivityForm" style="display:none">
	<% @html_activity = HtmlActivity.new %>
	<%= form_for @html_activity, :url => {:controller => :html_activities, :action => :create, :section_id => section_id} do |f| %>
		<div class="field">		
			<%= f.label :name, "名称:"%> <br/>		
			<%= f.text_field :name %>
		</div>		
		<div class="field">
	      <%= f.label :order, "排序" %><br />
	      <%= f.text_field :order, :value => activity_size %>
	    </div>	    
		<div class="field">
	      <%= f.label :provider_id, "供应商" %><br />
	      <%= f.select :provider_id, Provider.list_all %>
	    </div>	    	
		<div class="field">
			附件:
			<%if @html_activity.html_file? %>
			<%= "(已上传:#{@html_activity.html_file_file_name})"%>
			<%else%>
			<%= "(未上传)"%>
			<%end%>
			<br />
			<%= f.file_field :html_file %>
		</div>
		<div class="field">
			<%= f.label :description, "描述" %><br />
			<%= f.text_area :description %>
		</div>	
		<div class="actions">
			<%= f.submit "提交"%>
		</div>
	<% end %>
</div>