<%= form_for(@html_activity) do |f| %>
  <%= hidden_field_tag :section_id, params[:section_id] %>
  <% if @html_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@html_activity.errors.count, "error") %> prohibited this html_activity from being saved:</h2>

      <ul>
      <% @html_activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :provider_id, "提供方" %><br />
    <%= f.select :provider_id, Provider.provider_list %>
  </div> 
  <div class="field">
    <%= f.label :file_path %><br />
    <%= f.text_field :file_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
