%p#notice= notice
%p
  %b Name:
  = @html_activity.name
%p
  %b Activity:
  = @html_activity.activity_id
%p
  %b Provider:
  = @html_activity.provider_id
%p
  %b File path:
  = @html_activity.file_path
%p
  %b Description:
  = @html_activity.description
= link_to 'Edit', edit_html_activity_path(@html_activity)
|
\#{link_to 'Back', html_activities_path}
