<%= form_for @school, :html => {:class => "form-horizontal"} do |f| %>

  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :name, "名称", :class => "control-label" %> 
      <div class="controls">
        <%= f.text_field :name, :class => "input-xlarge"%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :location, "地址", :class => "control-label" %> 
      <div class="controls">
        <%= f.text_field :location, :class => "input-xlarge"%>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "创建", :class => "btn btn-primary" %>
    </div>
  </fieldset>
  
<% end %>

