<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>所有学校</h1>
</div>

<table class="table table-striped">
  <tr>
    <th class="span3">名称</th>
    <th class="span5">地址</th>
    <th class="span2"></th>
    <th class="span2"></th>
  </tr>
  
<% @schools.each do |s| %>
  <tr>
    <td><%= best_in_place s, :name, :type => :input %></td>
    <td><%= best_in_place s, :location, :type => :textarea %></td>
    <td><%= link_to_check '查看', s %></td>
    <td><%= link_to_delete '删除', s, confirm: '确定要删除此单元吗？', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to_add '创建学校', new_school_path %>