.page-header
  %h1
    = @school.name
    %span.label= School.zh_name
.row
  .span6
    %dl.dl-horizontal
      %dt 学校地址
      %dd= @school.location
      %dt 班级数量
      %dd= @school.classrooms.count
      %dt 教师数量
      %dd= @school.school_level_users.count
      %dt 学生数量
      %dd= @school.students.count
%br/
%br/

%ul#my-pills.nav.nav-pills
  %li.active
    %a{:href => "#class-list"} 班级列表
  %li
    %a{:href => "#teacher-user-list"} 教师晓书列表
  %li
    %a{:href => "#admin-list"} 管理员列表


.tab-content
  #class-list.tab-pane.active
    %h3 
      班级列表
      = link_to_add '创建班级', new_classroom_path(:school_id => @school.id) if current_admin.is_manager
    %br/
    %table.table.table-striped
      %tr
        %th.span4 年级
        %th.span4 班级
        %th.span2
        %th.span2
      - @school.classrooms.each do |c|
        %tr
          %td= c.grade_name
          %td= c.order_name
          %td= link_to_check '查看', c
          %td= link_to_delete '删除', c, confirm: '确定要删除此班级吗？', method: :delete
    
  #teacher-user-list.tab-pane
    %h3 
      教师晓书用户列表
      = link_to_add '添加教师', new_user_path(:school_id => @school.id, :user_type => "teacher") if current_admin.is_manager
    %br/
    %table.table.table-striped
      %tr
        %th.span4 姓名
        %th.span4 类型
        %th.span2
        %th.span2
      - @school.school_level_users.each do |u|
        %tr
          %td= u.name
          %td= u.print_type
          %td= link_to_check '查看', u
          %td= link_to_delete '删除', u, confirm: '确定要删除此用户吗？', method: :delete
    
  #admin-list.tab-pane
    %h3 
      管理员用户列表
      = link_to_add '添加管理员', new_admin_path(:school_id => @school.id) if current_admin.is_manager
    %br/
    %table.table.table-striped
      %tr
        %th.span3 姓名
        %th.span3 用户名
        %th.span4 最近一次登录时间
        %th.span2
      - @school.admins.each do |a|
        %tr
          %td= a.name
          %td= a.username
          %td= a.last_sign_in_at.to_formatted_s(:zh_long) if a.last_sign_in_at
          %td= link_to_check '查看', a
    
%script
  :plain
    $('#my-pills a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
