.page-header
  %h1
    = @school.name
    %span.label= School.zh_name
.row
  .span6
    %dl.dl-horizontal
      %dt 学校编号
      %dd= @school.id
      %dt 学校地址
      %dd= @school.location
      %dt 班级数量
      %dd= @school.classrooms.count
      %dt 教师数量
      %dd= @school.school_level_users.count
      %dt 学生数量
      %dd= @school.students.count
%br/
%br/

%ul#my-pills.nav.nav-pills
  %li.active
    %a{:href => "#class-list"} #{Classroom.zh_name}列表
  %li
    %a{:href => "#teacher-user-list"} 教师晓书用户列表
  %li
    %a{:href => "#admin-list"} #{Admin.zh_name}列表


.tab-content
  #class-list.tab-pane.active
    %h3 
      班级列表
      = link_to_add "创建#{Classroom.zh_name}", new_classroom_path(:school_id => @school.id) if current_admin.is_manager
    %br/
    %table.table.table-striped
      %tr
        %th 编号
        %th 名称
        %th 学生人数
        %th
      - @school.classrooms.each do |c|
        %tr
          %td= c.id
          %td= link_to c.class_name, c
          %td= c.students.count
          %td= link_to_edit '修改信息', edit_classroom_path(c)
    
  #teacher-user-list.tab-pane
    %h3 
      教师晓书用户列表
      = link_to_add '添加教师', new_user_path(:school_id => @school.id, :user_type => "teacher") if current_admin.is_manager
    %br/
    %table.table.table-striped
      %tr
        %th.span4 姓名
        %th.span4 类型
        %th.span2
        %th.span2
      - @school.school_level_users.each do |u|
        %tr
          %td= u.name
          %td= u.print_type
          %td= link_to_check '查看', u
          %td= link_to_delete '删除', u, confirm: '确定要删除此用户吗？', method: :delete
    
  #admin-list.tab-pane
    %h3 
      #{Admin.zh_name}列表
      = link_to_add "添加#{Admin.zh_name}", new_admin_path(:school_id => @school.id) if current_admin.is_manager
    %br/
    %table.table.table-striped
      %tr
        %th.span2 姓名
        %th.span2 用户名
        %th.span2 是否可以跨学校？
        %th.span2 是否能够管理其它老师？
        %th.span2 是否是超级管理员？
        %th.span2 最近一次登录时间
      - @school.admins.each do |a|
        %tr
          %td= link_to a.name, a
          %td= a.username
          %td= a.print_permission(:is_global)
          %td= a.print_permission(:is_manager)
          %td= a.print_permission(:is_super)
          %td= a.last_sign_in_at.to_formatted_s(:zh_long) if a.last_sign_in_at
          
%script
  :plain
    $('#my-pills a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })
