<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "课程名称" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :editor, "课程编辑者" %><br />
    <%= f.text_field :editor %>
  </div>
  <div class="field" style="display: none">
    <%= f.text_field :subject_id, :value => params[:subject_id] %>
  </div>
  <div class="field">
    <%= f.label :grade, "年级" %><br />
    <%= f.select(:grade, [["一年级", 1], ["二年级", 2], ["三年级", 3], ["四年级", 4], ["五年级", 5], ["六年级", 6], ["初一", 7], ["初二", 8], ["初三", 9]]) %>
  </div>
  <div class="field">
    <%= f.label :semester, "学期" %><br />
    <%= f.select(:semester, [["上学期", 1], ["下学期", 2], ["全学年", 3]]) %>
  </div>
  <div class="field">
    <%= f.label :description, "描述" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit :value => "创建" %>
  </div>
<% end %>

