<%= render :partial => "shared/breadcrumb_curriculum", :locals => { :item => @course } %>

<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>
    <%= best_in_place @course, :name, :type => :input %>
    <span class="label"><%= Course.zh_name %></span>
  </h1>
</div>

<div class="row">
  <div class="span6">
    <dl class="dl-horizontal">
      <dt>所属科目</dt>
      <dd><%= link_to @subject.name, subject_path(@subject) %></dd>
      <dt>创建者</dt>
      <dd><%= best_in_place @course, :editor, :type => :input %></dd>
      <dt>适用年级</dt>
      <dd><%= best_in_place @course, :grade, :type => :select, :collection => Classroom.all_grades_in_place %></dd>
      <dt>适用学期</dt>
      <dd><%= best_in_place @course, :semester, :type => :select, :collection => Course.all_semesters_in_place %></dd>
      <dt>课程概述</dt>
      <dd><%= best_in_place @course, :description, :type => :textarea %></dd>
    </dl>
  </div>
</div>

<div class="row">
  <div class="span2">
    <%= link_to_back '返回科目', subject_path(@subject) %>
  </div>
</div>

<br/>
<br/>
<br/>

<h3>单元列表</h3>

<table class="table table-striped">
  <tr>
    <th class="span3">名称</th>
    <th class="span5">概述</th>
    <th class="span2"></th>
    <th class="span2"></th>
  </tr>
  
<% @course.chapters.each do |c| %>
  <tr>
    <td><%= best_in_place c, :name, :type => :input %></td>
    <td><%= best_in_place c, :description, :type => :textarea %></td>
    <td><%= link_to_check '查看', c %></td>
    <td><%= link_to_delete '删除', c, confirm: '确定要删除此单元吗？', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to_add '创建单元', new_chapter_path(:course_id => @course.id) %>
