= form_for @chapter, :html => {:class => "form-horizontal"} do |f|
  - if @chapter.errors.any?
    #error_explanation
      %h2
        = pluralize(@chapter.errors.count, "error")
        prohibited this chapter from being saved:
      %ul
        - @chapter.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .control-group
      = f.label :name, "单元名称", :class => "control-label"
      .controls
        = f.text_field :name, :class => "input-xlarge"
    - if params[:action] == 'new'
      = f.hidden_field :course_id, :value => params[:course_id]
    .control-group
      = f.label :description, "描述", :class => "control-label"
      .controls
        = f.text_area :description, :class => "input-xlarge"
    .form-actions
      = f.submit :value => "确定", :class => "btn btn-primary"
      - if params[:action] == 'new'
        = link_to '取消', @chapter.parent, :class => "btn"
      - elsif params[:action] == 'edit'
        = link_to '取消', @chapter, :class => "btn"
