<h1>图书合集列表</h1>

<table class="table table-striped">
  <tr>
    <th>标题</th>
    <th>简介</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_collections.all.each do |book_collection| %>
  <%next if book_collection.destroyed?%>
  <tr>
    <td><%= book_collection.title %></td>
    <td><%= book_collection.intro %></td>    
    <td><%= link_to 'Show', book_collection %></td>
    <td><%= link_to 'Edit', edit_book_collection_path(book_collection) %></td>
    <td><%= link_to 'Destroy', book_collection, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book collection', new_book_collection_path %>
