<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book_collection.title %>
</p>

<p>
  <b>Intro:</b>
  <%= @book_collection.intro %>
</p>

<p>
  <b>Cover m:</b>
  <%= (link_to "#{@book_collection.cover_m_file_name}", @book_collection.cover_m.url(:original, false)) if @book_collection.cover_m? %>
</p>

<p>
  <b>Cover s:</b>
  <%= (link_to "#{@book_collection.cover_s_file_name}", @book_collection.cover_s.url(:original, false)) if @book_collection.cover_s? %>  
</p>


<%= link_to 'Edit', edit_book_collection_path(@book_collection) %> |
<%= link_to 'New', new_book_collection_path %> |
<%= link_to 'Back', book_collections_path %> 

