= form_for(@audio_collection) do |f|
  - if @audio_collection.errors.any?
    #error_explanation
      %h2
        = pluralize(@audio_collection.errors.count, "error")
        prohibited this audio_collection from being saved:
      %ul
        - @audio_collection.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :intro
    %br/
    = f.text_field :intro
  .field
    = f.label :cover_m, "封面（中）"
    = "(已上传#{@audio_collection.cover_m_file_name})" if @audio_collection.cover_m?
    %br/
    = f.file_field :cover_m
  .field
    = f.label :cover_s, "封面（小）"
    = "(已上传#{@audio_collection.cover_s_file_name})" if @audio_collection.cover_s?
    %br/
    = f.file_field :cover_s
  .actions
    = f.submit
