<h1>音频合集</h1>

<table border="1" cellspacing="0" cellpadding="3" style = "text-align: center;">
  <tr>
    <th>Title</th>
    <th>Intro</th>    
    <th></th>
    <th></th>
  </tr>

<% @audio_collections.each do |audio_collection| %>
  <% next if audio_collection.destroyed?%>123
  <tr>
    <td><%= audio_collection.title %></td>
    <td><%= audio_collection.intro %></td>    
    <td><%= link_to 'Edit', edit_audio_collection_path(audio_collection) %></td>
    <td><%= link_to 'Destroy', audio_collection, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Audio collection', new_audio_collection_path %>
