%p#notice= notice
%p
  %b Title:
  = @audio_collection.title
%p
  %b Intro:
  = @audio_collection.intro
= link_to 'Edit', edit_audio_collection_path(@audio_collection)
|
\#{link_to 'Back', audio_collections_path}
