%h1 Listing activities
%table.table.talbe-striped
  %tr
    %th Type
    %th
    %th
    %th
  - @activities.each do |activity|
    %tr
      %td= activity.tipe
      %td= link_to 'Show', activity
      %td= link_to 'Edit', edit_activity_path(activity)
      %td= link_to 'Destroy', activity, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Activity', new_activity_path, :class => 'btn btn-success'
