<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>所有机器</h1>
  <span class="label"><%= @machines.count %></span>
</div>

<table class="table table-striped">
  <tr>
    <th class="span5">ID</th>
    <th class="span2">类型</th>
    <th class="span2">用户</th>
    <th class="span1">已锁？</th>
    <th class="span2"></th>
  </tr>
  
<% @machines.each do |m| %>
  <tr>
    <td><%= m.unique_id %></td>
    <td><%= m.machine_type.name %></td>
    <td><%= m.user.name if not m.user.nil? %></td>
    <td><%= m.is_locked %></td>
    <td><%= link_to_check '查看', m %></td>
  </tr>
<% end %>
</table>
