.page-header
  %h1 所有机器
  %br/
  总数
  %span.label= @machines.count
%table.table.table-striped
  %tr
    %th.span5 ID
    %th.span2 类型
    %th.span2 用户
    %th.span1 已锁？
    %th.span2
    %th.span2
  - @machines.each do |m|
    %tr
      %td= link_to m.unique_id, m
      %td= m.machine_type.name
      %td= m.current_user.name if m.current_user
      %td= boolean_to_string m.is_locked
      %td= link_to_check '查看', m
      %td
        - if m.current_signin_record
          = link_to_delete '登出', {controller: :machines, action: :sign_out, id: m.id, user_id: m.current_user.id}, :method => :post
