<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Intro:</b>
  <%= @image.intro %>
</p>

<p>
  <b>Gallery activity:</b>
  <%= @image.gallery_activity_id %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
