<!DOCTYPE html>
<html>
<head>
  <title>SunServer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="user_nav">
  <% if user_signed_in? %>
    <%= current_user.name %>, 欢迎您
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<p>	
	<%= link_to '科目总览', :controller => "/subjects", :action => "all_subject"%> |
	<%= link_to '书籍', books_path%> |
	<%= link_to '书籍合集', book_collections_path%> |
	<%= link_to '作者', authors_path%>|
	<%= link_to '标签', tags_path%>|
	<%= link_to '供应商', providers_path%>	
</p>

<%= yield %>

</body>
</html>
