<!DOCTYPE html>
<html>
<head>
  <title>SunServer</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #EEEEEE;">
<p>
	<%= link_to '科目', subjects_path%>|
	<%= link_to '书籍', books_path%> |
	<%= link_to '书籍合集', book_collections_path%> |
	<%= link_to '作者', authors_path%>|
	<%= link_to '标签', tags_path%>|
	<%= link_to '供应商', providers_path%>	
</p>

<%= yield %>

</body>
</html>
