<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阳光书屋管理界面</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
    <script type="application/processing" target="processing-canvas">  
ParticleSystem ps;
color g = color(30, 10, 30);
int screen_width = 1260;
int c_height = 200;

void setup(){
  size(screen_width, c_height);
  colorMode(RGB, 255, 255, 255, 100);
  ps = new ParticleSystem(100);
  smooth();
}

void draw(){
  background(255);
  ps.run();
  ps.addParticle();
}

class ParticleSystem{
  ArrayList particles;
  
  ParticleSystem(int num){
    particles = new ArrayList();
    for(int i = 0; i < num; i++){
      particles.add(new Particle());
    }
  }
  
  void run(){
    for(int i = particles.size()-1; i >= 0; i--){
      Particle p = (Particle) particles.get(i);
      p.run();
      if(p.dead()){
        particles.remove(i);
      }
    }
  }
  
  void addParticle(){
    particles.add(new Particle());
  }
}

class Particle{
  PVector loc;
  PVector vel;
  float timer;
  float size;
  color col;
  
  Particle(){
    timer = 100;
    loc = new PVector(random(screen_width-60), c_height);
    vel = new PVector(0, -random(1));
    col = color(random(50), random(50,255), random(50));
    size = random(60);
  }
  
  void run(){
    update();
    render();
  }
  void update(){
    loc.add(vel);
    timer -= 0.5;
  }
  void render(){
    ellipseMode(CENTER);
    noStroke();
    fill(col, timer);
    ellipse(loc.x, loc.y, (int)((size-10) * timer/100 + 10), (int)((size-10) * timer/100 + 10));
  }
  boolean dead(){
    if(timer <= 0.0) return true;
    else return false;
  }
}
</script>  


<div>
  <%=image_tag "sunshine_logo.png" %>
</div>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
      <a class="brand" href="#"> 阳光书屋</a>
      <div class="container nav-collapse">
      	<ul class="nav">	
      		<li><%= link_to '科目总览', :controller => "/subjects", :action => "all_subject"%></li>
      		<li><%= link_to '书籍', books_path%></li>
      		<li><%= link_to '书籍合集', book_collections_path%></li>
      		<li><%= link_to '作者', authors_path%></li>
      		<li><%= link_to '标签', tags_path%></li>
      		<li><%= link_to '供应商', providers_path%></li>	
      		<li><%= link_to '视频合集', video_collections_path%></li>
      		<li><%= link_to '音频合集', audio_collections_path%></li>
      	</ul>
      	
      	<ul class="nav pull-right">
      		<% if user_signed_in?%>
      		  <li><a>用户<%= current_user.name %>, 欢迎您</a></li>
      		  <li><%= link_to "登出", destroy_user_session_path, :method => :delete %></li>
      	    <% else %>
      	      <% if !(admin_signed_in?) %>
      	      <li><%= link_to "注册", new_user_registration_path %></li>
      	      <li><%= link_to "登陆用户", new_user_session_path %></li>
      	      <% end %>
      	    <% end %>
      	  
      	    <% if admin_signed_in?%>
      		  <li><a>管理员<%= current_admin.name %>, 欢迎您</a></li>
      	      <li><%= link_to "登出", destroy_admin_session_path, :method => :delete %></li>
      	    <% else %>
      	      <% if !(user_signed_in?) %>
      	      <li><%= link_to "以管理员身份登陆", new_admin_session_path %></li>
      	      <% end %>
      	    <% end %>
      	</ul>
      </div>
      
    </div>
  </div>
</div>

<div class="container">
<%= yield %>
</div>

<div id="cvs">
<div>
<canvas id="processing-canvas" style="image-rendering"> </canvas>  
</div>
</div>	

<footer>
  <p>&copy; Sunshine Library 2012</p>
</footer>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "bubbles" %>

</body>
</html>
